{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="section">
  <div class="container">
    <div class="columns  is-multiline">
      <div class="column is-8 ">

        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">John Smith</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>
        
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>

      </div>

      <div class="column is-4">
     
        <div class="tags">
          <span class="tag">One</span>
          <span class="tag">Two</span>
          <span class="tag">Three</span>
          <span class="tag">Four</span>
          <span class="tag">Five</span>
          <span class="tag">Six</span>
          <span class="tag">Seven</span>
          <span class="tag">Eight</span>
          <span class="tag">Nine</span>
          <span class="tag">Ten</span>
          <span class="tag">Eleven</span>
          <span class="tag">Twelve</span>
          <span class="tag">Thirteen</span>
          <span class="tag">Fourteen</span>
          <span class="tag">Fifteen</span>
          <span class="tag">Sixteen</span>
          <span class="tag">Seventeen</span>
          <span class="tag">Eighteen</span>
          <span class="tag">Nineteen</span>
          <span class="tag">Twenty</span>
        </div>
         <form action="{% url 'home' %}">
        <div class="field has-addons">
          <div class="control  is-expanded ">
            <input class="input" type="text" name='q' placeholder="Find a repository"  required>
          </div>
          <div class="control">
            
            <button type="submit" class="button is-info"> Search </button>
          </div>
        </div>
      </form>
      </div>
    </div>

 
  </div>
</div>



<section class="section">
  <div class="container ">
    
    <div class="columns is-vcentered is-multiline">

      
      {% for post in posts %}
      <div class="column is-4">

      
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{ post.blog_image.url }}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              
              <div class="media-content">
                <p class="title is-4">{{ post.title }}</p>
                <p class="subtitle is-6"> <a href="{% url 'detail' post.id %}"> {{ post.date_posted }}</a> </p>
              </div>
            </div>
        
            <div class="content">
             {{post.body|truncatewords:20 }}
              <a href="#">#css</a> <a href="#">{{ post.author }}</a>
              <br>
              <time datetime="2016-1-1">{{ post.date_post | timesince }}</time>
            </div>
          </div>
        </div>

        
      </div>
      {% endfor %}

       
         <section class="section">  

        <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
          {% if posts.has_previous %}
          <a href="?page={{ posts.previous_page_number }}" class="pagination-previous">Previous</a>
          {% endif %}

          {% if posts.has_next %}
          <a href="?page={{ posts.next_page_number }}" class="pagination-previous">Next</a>
          {% endif %}

         <!--  <a class="pagination-next">Next page</a> -->
          <ul class="pagination-list">
            {% for p in posts.paginator.page_range %}
            {% if posts.number == p %}
          
            <li>
              <a href="?page={{ p }}" class="pagination-link is-current" aria-label="Goto page 1">{{ p }}</a>
            </li>
            {% else %}
            
          </li>
            <a href="?page={{ p }}" class="pagination-link" aria-label="Goto page 1">{{ p }}</a>
          </li>

            {% endif %}
            {% endfor %}
            
          </ul>
        </nav>


      </section>
      
      
     
     
    </div>
  </div>
</section>
  

{% endblock %}